$spaceBg: 'assets/images/space_bg1.jpeg';
html,
body {
  width: 100%;
  height: 100%;
  color: #fff;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
}
#root {
  width: 100%;
  height: 100%;
}
.container.space{
  width: 100%;
  height: 100%;
  background-image: url($spaceBg);
}

.container > h1 {
  margin: 0px;
  text-align: center;
  width: 100%;
  display: block;
  background-image: url('assets/images/logo.png');
}
.container > img {
  border-radius: 50%;
}
